@{
    ViewData["Title"] = "Index";
}

<div>
    @if (ViewBag.ListaJugadores == null || ViewBag.ListaJugadores.Count == 0)
    {
        <p>No hay jugadores</p>
    }
    else
    {
        <ul>
        @foreach (var jugador in ViewBag.ListaJugadores)
        {
            <li>
                Jugador: @jugador.nombre - Intentos: @jugador.cantidadIntentos
            </li>
        }
        </ul>
    }
    <p>Ingrese su nombre y la dificultad del juego</p>
    <form action='@Url.Action("Comenzar","Home")' method="post">
        <input type="text" name="nombre" placeholder="Ingrese su nombre">
        <select id="dificultad" name="dificultad">
            <option value="1">Facil</option>
            <option value="2">Intermedio</option>
            <option value="3">Dificil</option>
            <option value="4">Imposible</option>
        </select>
        <input type="submit" value="Enviar">
        <input type="reset" value="reset">
    </form>
</div>